html, body {
  background-color: #FEF8E8;
  margin-left: 100px;
  margin-top: 40px;
  padding: 0;
}

.toggle {
  text-decoration: none;
  font-size: 2em;
  color: rgba(0, 0, 0, 0.61);
  -webkit-transition-property: left, top, background, -webkit-transform;
      -webkit-transition-duration: 0.1s, 0.1s, 0.1s, 0.1s;
      -webkit-transition-timing-function: ease-out, ease-in, linear, ease-in-out;
      -webkit-transition-delay: 0, 0, 0, 0.1s;
  -moz-transition: all 0.15s ease-out 0;
  transition: all 0.45s ease-out 0;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1;
  cursor: pointer;
}

.sidebar {
  position: fixed;
  top: 0px;
  bottom: 0px;
  /*left: -190px;*/
  left: -100%;
  -webkit-transition-property: left, top, background, -webkit-transform;
      -webkit-transition-duration: 0.1s, 0.1s, 0.1s, 0.1s;
      -webkit-transition-timing-function: ease-out, ease-in, linear, ease-in-out;
      -webkit-transition-delay: 0, 0, 0, 0.1s;
  -moz-transition: all 0.15s ease-out 0;
  transition: all 0.15s ease-out 0;
  /*width: 8rem;*/
  width: 100%;
  /*padding: 1.5em;*/
  background: #ECA878;
  opacity: .99;
}

.sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar li a {
  color: #fff;
  font-family: 'Poiret One', cursive;
  font-size: 1.2em;
  margin: 0;
  margin-bottom: 16px;
  cursor: pointer;
  text-decoration: none;
  line-height: 200%;
}

.sidebar a:hover {
  color: rgba(0, 0, 0, 0.61);
}

#slide:checked + .container .sidebar {
  left: 0px;
 }

#slide:checked + .container .toggle {
  transform: translateY(-10px);
 }

#slide {
  display: none;
}

#button {
  background: #ECECEC;
		border-radius: 15px;
		padding: 10px 20px;
		display: block;
		font-family: arial;
		font-weight: bold;
		color:#7f7f7f;
		text-decoration: none;
		text-shadow:0px 1px 0px #fff;
		border:1px solid #a7a7a7;
		width: 50px;
		margin:0px auto;
		margin-top: 0;
		box-shadow: 0px 2px 1px white inset, 0px -2px 8px #FEF8E8, 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 8px 10px rgba(0, 0, 0, 0.1);
		-webkit-transition:box-shadow 0.5s;
  font-size: 12px;
  border-radius: 8px;
}

.literature-font {
  /*font-family: 'Goudy Bookletter 1911', serif;*/
  font-family: 'Old Standard TT', serif;
}

#select-year,#select-month, #select-type {
  margin: 0 auto;
  display: block;
  margin-top: 30px;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  height: 35px;
  text-align: center;
}

#range-returns {
  display: inline;
  width: 80%;
}
.sidebar-title {
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
  display: block;
}

.number-of-returns{
  text-align: center;
}

 .min-to-max{
   text-align: center;
   width: 80%;
   margin-top: 10px;
   margin-left: 10%;
   margin-right: 10%;
   height: 30px;
 }
