.checkout {
  margin: 0 auto;
  text-align: center;
  width: 80%;
  font-size: 3em;
  /*background-color: #3333;*/
  /*border: 1px solid #ECA878;*/
}
.canvas-size{
  margin-right: 10%;
}
/*.canvas-size {
  /*margin: 0 auto;*/
  height: 500px;
  width: 80%;
  margin-left: 5%;
  margin-right: 15%;
  margin-top: 100px;
  margin-bottom: 200px;
}*/
