.checkout {
  margin: 0 auto;
  text-align: center;
  width: 80%;
  font-size: 3em;
  /*background-color: #3333;*/
  /*border: 1px solid #ECA878;*/
}
.canvas-size{
  margin: 0 auto;
  width: 80%;
}

.canvas-pie-size{
  margin: 0 auto;
  width: 40%;
}
