@media only screen and (min-width: 640px){
  .sidebar{
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: -190px;
  /*left: -100%;*/
  -webkit-transition-property: left, top, background, -webkit-transform;
      -webkit-transition-duration: 0.1s, 0.1s, 0.1s, 0.1s;
      -webkit-transition-timing-function: ease-out, ease-in, linear, ease-in-out;
      -webkit-transition-delay: 0, 0, 0, 0.1s;
  -moz-transition: all 0.15s ease-out 0;
  transition: all 0.15s ease-out 0;
  width: 8rem;
  /*width: 100%;*/
  padding: 1.5em;
  background: #C5A075;
  }
}
#select-month, #select-year, #select-type {
  margin: 0 auto;

}
